KICKTIPP_BASE_URL=https://www.kicktipp.de
KICKTIPP_EMAIL=
KICKTIPP_PASSWORD=
KICKTIPP_LOGIN_COOKIE=
KICKTIPP_DEFAULT_COMMUNITY=bundesliga-tippspiel
KICKTIPP_SESSION_FILE=
KICKTIPP_KEYCHAIN=true
KICKTIPP_KEYCHAIN_SERVICE=kicktipp
KICKTIPP_KEYCHAIN_ACCOUNT=
KICKTIPP_KEYCHAIN_HOST=www.kicktipp.de
